terminal.term
sage-plots-for*.tex
*.sout
*.scmd
*.sage-backup
*.synctex.gz
*.bak
.bup/                                                                                                                                                                                    
.cache/                                                                                                                                                                                  
.forever/                                                                                                                                                                                
.gitconfig                                                                                                                                                                               
.sage/                                                                                                                                                                                   
.sagemathcloud/                                                                                                                                                                          
.ssh/                                                                                                                                                                                    
*.term  
*~
